<table class="table" >
  <caption>Indeksy glikemiczne produktów.</caption>
  <thead>
  <tr>
    <th scope="col">produkt</th>
    <th scope="col">kaloryczność</th>
    <th scope="col">Masa jednostki</th>
    <th scope="col">Indeks Glikemiczny</th>
  </tr>
  </thead>
  <tbody>


  <% @product.each do |prod| %>
    <tr>
      <td><%= prod.name %></td>
      <td><%= prod.calorific_value %> kcal</td>
      <td><%= prod.weight %> g</td>
      <td><%= prod.glycemic_index %></td>

    </tr>

  <% end %>

  </tbody>
</table>